Host *
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"

Host agent-01
  HostName {{ onepasswordRead "op://Private/Droplet agent-01/ip_address" }}
  User {{ onepasswordRead "op://Private/Droplet agent-01/username" }}
